@import"../../node_modules/bootstrap/scss/bootstrap";
$primary-color: #DF0000;
$secondary-color: #DF000052;
$black: #000000;
$white: #FFFFFF;
$home-background: #E0E0E0;
$grey: #C1C1C1;
$indicator: #666481;
$footer-background: #06060B;
$footer-mobile: #1E1E23;
$footer-grey: #38383C;
$forgot-text: #2D2B4A;
$mobile-input: #7C7C7C;

html, body{
    .mobile-form{
        display: none;
    }
    .nav-mobile{
        .mobile-cart{
            display: none;
        }
    }
        .logo{
            h1{
                font-size: 20px;
            }
        }
        .search{
            font-size: 14px;
            background: $home-background;
            border-radius: 13px;
            color:$black;
            width: 400px;
            .search-icon{
                margin-left: 15px;
            }
            input{
                background: none;
                outline: none;
                border: 0;
                margin-left: 10px;
                width:80%;
                border-right: 3px solid #F4F4F4;
            }
            input::placeholder{
                padding: 10px;
                color: $black;
            }
            .icon-div{
                width: 300px;
                .anywhere{
                    margin: 10px 15px;
                }
            }
            
        }
            // border-right: 3px solid $grey;
            .ul-nav{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: $black;
                        margin-right: 15px;
                        font-size: 14px;
                    }
                    a:hover{
                        color: $primary-color;
                        text-decoration: underline;
                    }
                    .nav-nav{
                        color: $primary-color !important;
                    }
                }
    }
    .auth-user{
        // height: 40px;
        padding: 10px;
        a{
            text-decoration: none;
            color: $black;
        }
    }
        .auth{
            .sign, .login{
                border: 1px solid $primary-color;
                padding: 7px 20px;
                border-radius: 20px;
                font-size: 14px;
                font-weight: 400;
            }
            .login{
                background: $primary-color;
                color: $white;
            }
            .sign:hover{
                background: $primary-color;
                color: $white;
            }
            .login:hover{
                background: $white;
                color: $black;
            }
        }
    }
    .home-div{
        height: 300px;
        background: url('../images/home-back.svg');
        color: $white;
        .top-home{
            h1{
                font-size: 40px;
            }
            .search{
                background: $white;
                border-radius: 10px;
                color:$black;
                .search-icon{
                    margin-left: 15px;
                }
                input{
                    outline: none;
                    border: 0;
                    margin-left: 10px;
                    width:62%;
                    border-right: 3px solid $grey;
                }
                input::placeholder{
                    padding: 10px;
                }
                .icon-div{
                    width: 300px;
                    .anywhere{
                        margin: 10px 25px;
                    }
                }
            }
        }
    }
    .categories{
        margin: 0;
        .site-category{
            border-right: 2px solid $grey;
            font-size: 1rem;
            margin: 0;
            // width: 250px;
            height: 400px;
            .accordion-img{
                margin-right: 30px;
            }
            h3{
                font-size: 20px;
                padding-top: 15px;
                padding-left: 15px;
            }
            li{
                list-style: none;
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: $black;
                }
            }
        }
        .sale{
            border-radius: 15px;
            width: 700px;
            height: 350px;
            border-radius: 10px;
        }
        .absolute-img{
            margin-left: 230px;
            // padding-top: 30px;
            .img-top{
                position: absolute;
                right: 80px;
                padding-top: 25px;
                font-size: 16px;
                color: $white;
                width: 130px;
                height: 100px;
                text-align: center;
            }
        }
    }
    .top-deals, .all-view{
        h3{
            font-size: 30px;
            color:$primary-color;
        }
        .link{
            a{
                color: $primary-color;
                text-decoration: none;
            }
        }
        .deal-card::-webkit-scrollbar{
            width: 0 !important;
        }
        .deal-card{
            display: flex;
            overflow-x: auto;
            scrollbar-width: none;
            .card-container{
                min-width: 250px;
                // max-height: 320px;
                .discount{
                    background: $primary-color;
                    font-size: 15px;
                    width: 40px;
                    height: 35px;
                    position: relative;
                    top: 0;
                    left: 0;
                    border-radius: 7px;
                    color:$white;
                    padding-top: 5px;
                }
                .icon{
                    margin-left: 50px;
                    margin-bottom: 15px;
                }
                h3{
                    font-size: 20px;
                    color: $black;
                }
                p{
                    font-size: 14px;
                }
                .price-container{
                    p{
                        font-size: 16px;
                    }
                    .details{
                        color: $primary-color;
                        background: $secondary-color;
                        font-size: 14px;
                    }
                    .details:hover{
                        background: $primary-color;
                        color: $white;
                    }
                }
            }
        }
    }
    .carousel{
        height: 500px;
        .carousel-img{
            background: url('../images/back-move.svg');
            width: 95%;
            margin: auto;
            margin-top: 50px;
            border-radius: 25px;
            .req-img{
                width: 100%;
                border-radius: 25px;
            }
            p{
                color: $white;
                font-size: 25px;
                position: absolute;
                bottom: 5px;
                left: 45%;
                padding: 10px;
                background: rgba(0,0,0,0.5);
            }
        }
        .changes{
            .active-changes{
                background: $grey;
                width: 25px;
                height: 8px;
                border-radius: 5px;
                cursor: pointer;
            }
            .active-changes:hover, .active{
                background: $primary-color;
                width: 35px;
            }
            .clear{
                clear: both;
            }
        }
    }
    .popular-brand{
        margin-top: 130px;
        .top-brand{
            h1{
                font-size: 30px;
            }
            a{
                color: $primary-color;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        .brands::-webkit-scrollbar{
            display: none;
        }
        .brands{
            margin-left: 30px;
            display: flex;
            overflow-x: auto;
            height: 350px;
            .brand-card{
                border: 2px solid $grey;
                border-radius: 50px;
                min-height: 350px;
                max-width: 220px;
                display: inline-block;
                .brands-img{
                    border-bottom: 2px solid $grey;
                }
                .brand-inner{
                    h3{
                        color: $black;
                        font-size: 24px;
                    }
                    .automobile{
                        h4{
                            margin-left: 20px;
                            font-size: 16px;
                        }
                    }
                    .details{
                        color: $primary-color;
                        background: $secondary-color;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .after-brand{
        .first-after{
            h3{
                font-size: 20px;
                color: $black;
                line-height: 1.3;
            }
            .time{
                .date{
                    color: $white;
                    margin: 6px;
                    padding: 7px;
                    border-radius: 5px;
                    bor
                    .p-brand{
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 0;
                        .p-tag{
                            font-weight: 400;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .second-after{
            padding-left: 20px;
            .span{
                font-size: 14px;
                color: $primary-color;
                background: $secondary-color;
                padding: 4px 7px;
                border-radius: 12px;
            }
        }
    }
    .footer{
        background: $footer-background;
        margin-top: 200px;
        color: #FFFFFF;
        height: 1000px;
        a{
            color: $white;
            text-decoration: none;
        }
        a:hover{
            color: $grey;
        }
        .footer-mobile{
            background: $footer-mobile;
            // width: 100px;
            margin-bottom: 10px;
            padding: 7px 12px;
            border-radius: 20px;
            h4{
                font-size: 16px;
            }
        }
        .ios{
            width: 90px;
        }
        .ios h4, .android h4{
            margin-left: 10px;
        }
        .android{
            width: 110px;
        }
    }
    .copy{
        background: $footer-mobile;
        color: $white;
        font-weight: 300;
        font-size: 14px;
    }

    // **********ELECTRICAL PAGE****************//
    .elect-categories{
        height: 400px;
        border-right: 3px solid $grey;
        h3{
            font-size: 20px;
            padding-top: 15px;
            padding-left: 15px;
        }
        .accordion-header{
            border: none;
            outline: none;
            // border-bottom: red;
            // color: red;
            .accordion-img{
                margin-right: 30px;
            }
            .accordion-span{
                font-size: 1rem;
            }
        }
        li{
            list-style: none;
            margin-bottom: 10px;
            a{
                text-decoration: none;
                color: $black;
            }
        }
    }
    .all-view{
        .back-track{
            width: 70px;
            height: 40px;
            text-decoration: none;
            color: $black;
            .back-img{
                border-radius: 50%;
                color: $black;
                border: 1px solid $black;
                padding: 10px;
            }
            p{
                margin-top: 10px;
            }
        }
        .indicators{
            .indi{
                font-size: 14px;
                .first{
                    text-decoration: none !important;
                    color: $indicator;
                }
                .breadcrumb-active{
                    color: $black;
                }
            }
            select{
                outline: none;
                border: none;
                margin-right: 40px;
                color: $indicator;
            }
        }
    }
    .popular-brand{
        .top-brand{
            margin-right: 20px;
        }
    }
    .similar::-webkit-scrollbar{
        display: none;
    }
    .similar{
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        .card{
            min-width: 300px;
        }
        .details{
            color: $primary-color;
            background: $secondary-color;
            font-size: 14px;
            border: none;
            margin-left: 50px;
        }
        .details:hover{
            background: $primary-color;
            color: $white;
        }
    }


/**************REGISTER STYLE ****************/
@media only screen and (max-width: 600px) {
    body{
        position: relative;
        height: 100%;
        .register{
            margin: auto 10px;
            .finance{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            a{
                color: $black;
                text-decoration: none;
                font-size: 14px;
            }
        }
        .get-started{
            .p-start{
                font-size: 16px;
                color: $primary-color;
                margin-top: 0;
            }
            .p-forgot{
                font-size: 20px;
                color: $primary-color;
            }
            .forgot-text{
                color: $forgot-text;
            }
            .reg-btn{
                background: none;
                border: 1px solid $grey;
                font-size: 14px;
                border-radius: 7px;
            }
        }
        .register-form{
            font-size: 14px;
            position: relative;
            height: 550px;
            .reg-input::placeholder{
                padding-left: 10px;
                font-size: 14px;
            }
            .otp-p{
                display: inline;
            }
            .resend{
                color: $primary-color;
                text-decoration: none;
            }
            .join{
                background: $primary-color;
                color: $white;
                position: absolute;
                bottom: 0;
                width: 95%;
            }
            .join:hover{
                background: $secondary-color;
            }
            .checkbox{
                margin-right: 10px;
            }
            .terms{
                color: $black;
            }
        }
        .reg-form{
            font-size: 14px;
            position: relative;
            height: 550px;
            .reg-input::placeholder{
                padding-left: 10px;
                font-size: 14px;
            }
            .otp-p{
                display: inline;
            }
            .resend{
                color: $primary-color;
                text-decoration: none;
            }
            .join{
                background: $primary-color;
                color: $white;
                position: absolute;
                bottom: 0;
                width: 95%;
            }
            .join:hover{
                background: $secondary-color;
            }
            .checkbox{
                margin-right: 10px;
            }
            .terms{
                color: $black;
            }
            .forgot-pass{
                color: $primary-color;
                text-decoration: none;
                float: right;
            }
        }
        .reg-log{
            color: $primary-color;
        }
        .reg-footer{
            position: relative;
            bottom: 0;
            background: $footer-grey;
            color: $white;
            margin-top: 76px;
        }
    }
    /*************NAVBAR**************/
    .cat-div{
        .mobile-cart{
            display: block !important;
        }
        .category-show{
            background: $white;
            position: absolute;
            top: 0px;
            left: 0;
            width: 80%;
            padding: 20px;
            padding-top: 50px;
            height: 100vh;
            z-index: 1;
            .category-nav{
                padding-top: 50px;
                .accordion-button::after{
                    transform: rotate(270deg);
                }
                .accordion-body{
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }
        .reg-category{
            border: none;
            outline: none;
            color: $black;
            padding: 15px;
            margin-top: 15px;
        }
        .mobile-nav{
            display: none !important;
        }
        .toggle-on{
            padding: 0 !important;
            color: $black !important;
            border: none !important;
            margin-right: 10px;
        }
        .horizontal-collapse .navbar-nav {
            transform: rotateX('90');
        }
          
        .horizontal-collapse .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
        }
    }
    // {/**************SEARCH BODY****************/}
    .mobile-form{
        display: block !important;
        width: 90%;
        height: 45px;
        margin-left: 10px;
        border-radius: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 30px;
        border: 1px solid $mobile-input;
        input{
            border: none;
            outline: none;
            height: 100%;
        }
    }
    .home-mobile, .site-category{
        display: none !important;
    }
    .mobile-pic{
        width: 370px !important;
        margin-left: 10px;
        height: 150px !important;
        border-radius: 10px;
    }
    .side-photo{
        display: none;
    }
    .carousel-p{
        font-size: 18px !important;
        left: 0 !important;
        bottom: 0 !important;
    }
}
@media only screen and (min-width: 600px) {
    
}